@charset "UTF-8";
@font-face {
    font-family: 'tecno';
    src: url('../fontes/coalition/coalition_v2..ttf'), format('truetype');
}

@font-face {
    font-family: 'cyborg-punk';
    src: url('../fontes/cyborg_punk/cyborg-punk.ttf'), format('truetype');
}

@font-face {
    font-family:'idroid';
    src: url('../fontes/idroid.otf'),format('opentype');
}

:root {
    --cor01: #F2F2F2;
    --cor02: #D9D9D9;
    --cor03: #A6A6A6;
    --cor04: #595959;
    --cor05: #0D0D0D;
    --cor06: #A6A39F;
    --cor07: #202426;
}

footer {
    font-weight: bold;
    text-align: center;
    background-color: var(--cor06);
}

main {
    background-color: white;
    max-width: 820px;
    min-width: 320px;
    border-radius: 10px -1px 0px 0px;
    border: solid;
    margin: auto;
    box-shadow: 0px 1px 3px black;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
}

main img {
    width: 100%;
}

body {
    background-color: #D9D9D9;
    font: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

header {
    background-color: var(--cor01);
    padding: 30px;
}

main h2 {
    font-family: 'idroid';
    padding: 10px;
}

main h1 {
    font-family: 'cyborg-punk';
    padding: 10px;
}

nav {
    padding: 10px;
    background-color: red;
}

header > h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'tecno';
    padding: 10px;
}

main p {
    font-weight: 400;
    padding: 10px;
}

header p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

nav {
    background-color: var(--cor03);
    padding: 2px;
    border: solid;
}

main a {
    text-decoration: none;
    color: darkblue;
}
main a:hover {
    color: blue;
    text-decoration: underline;
}

main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

nav > a {
    padding-left: 20px;
    text-decoration: none;
    color: var(--cor05);
    font-weight: bold;
}

nav > a:hover {
    color: var(--cor07);
}

main strong {
 background: var(--cor06);
}

* {
    padding: 0;
    margin: 0;
}

main aside h3 {
    font-family: 'idroid';
    padding: 10px;
}

main aside ul {
    position: relative;
    left: 30px;
}

main h4 {
    padding: 10px;
    background-color: #595959;
    border-radius: 10px;
    border: solid;
}

div.video-android {
    border: solid;
    border-color: #202426;
    border-width: 10px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 0px;
    padding-bottom: 40%;
}

div.video-android > iframe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}